{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block body %}

  <div id="pw-update">
    <div class="tit-area">
      <h1 class='tit'>비밀번호 수정하기</h1>
    </div>
    <div class='form-area'>
      <form action="" method="POST" class="pw-update-form">
        {% csrf_token %}
        <ul class="form-list">
          <li>
            <label for="old_password">기존 비밀번호</label>
            {% render_field form.old_password %}
          </li>
          <li>
            <label for="new_password1">새 비밀번호</label>
            {% render_field form.new_password1 %}
          </li>
          <li>
            <label for="new_password2">새 비밀번호 확인</label>
            {% render_field form.new_password2 %}
          </li>
        </ul>
        <button type="submit" class="btnC btnS">비밀번호 수정</button>

      </form>
    </div>
    <div class="prev">
      <p>
        <a href="{% url 'accounts:login' %}" class="link-prev">이전페이지로</a>
        돌아가기
      </p>
    </div>
  </div>
{% endblock body %}
